<div class="container-content">
    <a [routerLink]="['']"> &lt;&lt; Voltar</a>
    <div class="content-title">
        <h1>{{titleNews}}</h1>
    </div>

    <div class="container-text-img">
        <div class="content-capa">
            <img src="{{imageUrl}}" alt="{{imageAlt}}">
        </div>
        <div class="content-discription">
            <p>{{description}}</p>
            <p>{{description}}</p>
            <p>{{description}}</p>
            <p>{{description}}</p>
        </div>
    </div>

</div>