.container{
    padding: 0 1rem;
    max-width: 1200px;
    min-width: 279px;
    margin: 0 auto;
}
.articles{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.article-others{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}