@media(min-width: 576px) {
    .container{
        padding: 0 1.5rem;
    }
}
@media(min-width: 768px) {
    .article-others{
        display: grid;
        grid-template-columns: 48% 48%;
    }
}   

@media(min-width: 992px) {
    .container{
        padding: 0 1rem;
    }
    .articles{
        display: grid;
        grid-template-columns: 54% 40%;
        justify-content: space-around;
    }
    .article-others{
        display: flex;
        flex-direction: column;
    }
}
