<div class="container">
    <div class="articles">
        <div class="article-main">

            <app-big-card
            id="1"
            titleNews="Impactos do Aquecimento Global"
            imageUrl="https://images.pexels.com/photos/3641377/pexels-photo-3641377.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            imageAlt="Imagem da noticia"
            description="Como as Mudanças Climáticas Afetam a Vida no Planeta"
            dateNews="13 de Outubro 2023"
            ></app-big-card>
            
        </div>

        <div class="article-others">
            <app-small-card
            id="2"
            imageUrl="https://images.pexels.com/photos/2559749/pexels-photo-2559749.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            imageAlt="Multidão de jovens protestando"
            dateNews="10 de Outubro 2023"
            titleNews="O Futuro em Jogo: Jovens Ativistas Climáticos na Vanguarda da Luta Contra o Aquecimento Global"
            ></app-small-card>

            <app-small-card
            id="3"
            imageUrl="https://images.pexels.com/photos/2166/flight-sky-earth-space.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            imageAlt="Foguete decolando"
            dateNews="09 de Outubro de 2023"
            titleNews="Cibersegurança e Bombas Nucleares: Os Desafios do Século 21"
            ></app-small-card>

            <app-small-card
            id="4"
            imageUrl="https://images.pexels.com/photos/1884574/pexels-photo-1884574.jpeg?auto=compress&cs=tinysrgb&w=600"
            imageAlt="Pessoas assistindo jogo de futebol"
            dateNews="08 de Outubro 2023"
            titleNews="Estrela do Futebol Marca Hat-Trick em Vitória Épica"
            ></app-small-card>
        </div>
    </div>
</div>
